/* PaperCard.css */
.paper-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    /* max-width: 300px; */
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;

  }
  
  .paper-card h2 {
    /* font-size: 20px; */
    margin-bottom: 10px;
    
  }
  .year-header{
    border: 1px solid black;
    /* width: 20%; */
    border-radius: 5px;
    display: flex;
    justify-content: center
  }
  .year-header:hover{
    background-color: gray;
    color: #fff;
  }
  .paper-card p {
    color: #666;
  }
  
  .paper-card a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    width: 30%;

  }
  
  .paper-card a:hover {
    background-color: #0056b3;
  }
  
  .paper-card:hover{
    transform: translateY(-10px); 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.947); 
    } 

    .year-button {
      cursor: pointer;
      padding: 10px;
      margin: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: transform 0.3s, box-shadow 0.3s;
    }
    
    .year-button:hover {
      background-color: #007bff;
      transform: translateY(-10px); 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.947); 
    }
    .year-selection{
      display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    @media (max-width: 520px) {
      .paper-card a {
        width: 100%;
      }
    }

