/* patents.css */

.patent-cards {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
  }
  
  .patent-card {
    width: 300px;
    /* height: 140px; */
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .patent-card h2 {
    font-size: 18px;
    margin: 0 0 10px;
  }
  
  .patent-card p {
    font-size: 14px;
    margin: 0 0 10px;
  }
  
  .patent-card a {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center
  }
  
  .patent-card a:hover {
    background-color: #0056b3;
  }
  
  .patent-card:hover{
    transform: translateY(-10px); 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.947); 
    }
  
  