/* TopicCards.css */
.topic-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }
  
  .topic-card {
    width: 300px;
    /* height: 140px; */
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s, box-shadow 0.3s;

  }
  
  .topic-card h2 {
    font-size: 18px;
    margin: 0;
  }
  
  .topic-card p {
    font-size: 14px;
    margin: 10px 0;
    display: block;
  }
  
  .topic-card a {
    text-decoration: none;
    background-color: #0074cc;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
  }
  
  .topic-card a:hover {
    background-color: #0055a5;
  }

  .topic-card:hover{
    transform: translateY(-10px); 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.947); 
    }
  