/* SimulatorCards.css */
.simulator-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

  }
  
  .language-section {
    margin: 20px 0;
    
  }
  .languag{
    border: 1px solid black;
    /* width: 20%; */
    border-radius: 5px;
    display: flex;
    justify-content: center
  }
  .languag:hover{
    background-color: gray;
    color: #fff;
  }
  .language-section h2 {
    font-size: 24px;
    margin: 0;
  }
  
  .simulator-card {
    width: 300px;
    /* height: 140px; */
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .simulator-card h3 {
    font-size: 20px;
    margin: 0;
  }
  
  .simulator-card p {
    font-size: 16px;
    margin: 10px 0;
  }
  .simulator-card a {
    text-decoration: none;
    background-color: #0074cc;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
  }


  .simulator-card:hover{
    transform: translateY(-10px); 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.947); 
    }

    .language-button {
      cursor: pointer;
      padding: 10px;
      margin: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: transform 0.3s, box-shadow 0.3s;
    }
    
    .language-button:hover {
      background-color: #007bff;
      transform: translateY(-10px); 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.947); 
    }
    .language-selection{
      display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
